*{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.nav-item{
    padding-right: 50px;
}

#scrollToTopButton {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer; 
    
  }
